#fm_meta_box_fusion_distribution .inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  #fm_meta_box_fusion_distribution .inside .fm-wrapper {
    -webkit-box-flex: 2;
        -ms-flex: 2 2 0;
            flex: 2 2 0; }

#seo-preview {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  width: auto;
  margin: 34px 0 0 12px;
  overflow: hidden;
  background: #ededed;
  border: 1px solid #ddd;
  border-width: 1px;
  border-radius: 3px;
  padding: 5px 10px; }
  #seo-preview:empty {
    display: none; }
  #seo-preview h4 {
    margin: 0 0 3px; }
  #seo-preview .seo-preview-view {
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    overflow: auto; }
  #seo-preview .seo-preview-facebook .seo-preview-view {
    border: 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0 0 0 1.5px inset, rgba(0, 0, 0, 0.0470588) 0 1px 1px 0;
    color: #141823;
    direction: ltr;
    display: block;
    font-family: Helvetica, Arial, "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 12px;
    line-height: 15px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    text-align: left;
    width: auto;
    max-width: 470px;
    word-wrap: break-word;
    z-index: 0;
    zoom: 1; }
  #seo-preview .seo-preview-facebook .seo-preview-facebook-share-text-wrap {
    margin: 10px 12px; }
    #seo-preview .seo-preview-facebook .seo-preview-facebook-share-text-wrap img {
      float: left; }
  #seo-preview .seo-preview-facebook .seo-preview-facebook-share-text-wrap:after {
    content: ' ';
    clear: both;
    display: block; }
  #seo-preview .seo-preview-facebook .seo-preview-facebook-share-text {
    font-size: 14px;
    line-height: 21px;
    font-family: Helvetica, sans-serif;
    color: #141823;
    margin-left: 60px; }
    #seo-preview .seo-preview-facebook .seo-preview-facebook-share-text em {
      color: rgba(20, 24, 35, 0.65); }
  #seo-preview .seo-preview-facebook .seo-preview-title {
    color: #141823;
    direction: ltr;
    display: block;
    font-family: Georgia, "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 5px;
    max-height: 110px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: left;
    text-decoration: none;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    -webkit-transition-duration: .1s;
            transition-duration: .1s;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    width: auto;
    max-width: 100%;
    word-wrap: break-word;
    zoom: 1; }
    #seo-preview .seo-preview-facebook .seo-preview-title .a {
      color: inherit;
      text-decoration: inherit; }
  #seo-preview .seo-preview-facebook .seo-preview-info-container {
    position: relative;
    height: 100px;
    margin: 10px 12px; }
  #seo-preview .seo-preview-facebook .seo-preview-image {
    width: 100%;
    height: 246px;
    line-height: 246px;
    background: #eee;
    background-image: url(attr(data-src));
    overflow: hidden;
    background-position: center center;
    background-size: cover; }
    #seo-preview .seo-preview-facebook .seo-preview-image img {
      display: none; }
  #seo-preview .seo-preview-facebook .seo-preview-desc {
    color: #141823;
    direction: ltr;
    display: block;
    font-family: Helvetica, Arial, "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 12px;
    line-height: 15px;
    text-align: left;
    width: 446px;
    word-wrap: break-word;
    zoom: 1;
    margin-bottom: 6px; }
  #seo-preview .seo-preview-facebook .seo-preview-url {
    color: #9197a3;
    direction: ltr;
    display: block;
    font-family: Helvetica, Arial, "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    height: 11px;
    line-height: 11px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: left;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    width: 446px;
    word-wrap: break-word;
    zoom: 1; }
  #seo-preview .seo-preview-google .seo-preview-view {
    max-width: 512px; }
  #seo-preview .seo-preview-google .seo-preview-title {
    color: #222222;
    display: block;
    font-family: arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    height: 21px;
    line-height: 21px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    text-align: left;
    text-overflow: ellipsis;
    visibility: visible;
    white-space: nowrap;
    width: 512px;
    zoom: 1; }
    #seo-preview .seo-preview-google .seo-preview-title .a {
      color: #1a0dab;
      cursor: pointer;
      display: inline;
      font-family: arial, sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: normal;
      height: auto;
      line-height: 21px;
      list-style-image: none;
      list-style-position: outside;
      list-style-type: none;
      text-align: left;
      visibility: visible;
      white-space: nowrap;
      width: auto;
      zoom: 1;
      text-decoration: none; }
  #seo-preview .seo-preview-google .seo-preview-url {
    color: #006621;
    display: block;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    height: auto;
    line-height: 16px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    text-align: left;
    visibility: visible;
    white-space: nowrap;
    width: auto;
    zoom: 1;
    text-decoration: none; }
  #seo-preview .seo-preview-google .seo-preview-desc {
    display: block;
    color: #545454;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    height: auto;
    line-height: 18px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    text-align: left;
    visibility: visible;
    width: auto;
    word-wrap: break-word;
    zoom: 1; }
  #seo-preview .seo-preview-twitter {
    width: 640px;
    max-width: 100%;
    margin: 0;
    padding: 0; }
    #seo-preview .seo-preview-twitter .fm-item-description .link-show-more-text {
      cursor: pointer; }
    #seo-preview .seo-preview-twitter .fm-item-description .fm-more-text {
      display: none; }
    #seo-preview .seo-preview-twitter.seo-preview-twitter-large .seo-preview-view {
      width: 560px;
      padding: 30px 40px;
      border-radius: 5px;
      color: #292f33;
      font-size: 14px;
      line-height: 18px;
      border: 0; }
      #seo-preview .seo-preview-twitter.seo-preview-twitter-large .seo-preview-view.wp-published-tweet .seo-preview-twitter-tweet-text span.a {
        color: #02cebe; }
      #seo-preview .seo-preview-twitter.seo-preview-twitter-large .seo-preview-view .seo-preview-twitter-tweet {
        margin-bottom: 15px; }
        #seo-preview .seo-preview-twitter.seo-preview-twitter-large .seo-preview-view .seo-preview-twitter-tweet .seo-preview-twitter-tweet-header {
          padding-left: 58px;
          overflow: hidden;
          clear: both;
          margin-bottom: 15px; }
          #seo-preview .seo-preview-twitter.seo-preview-twitter-large .seo-preview-view .seo-preview-twitter-tweet .seo-preview-twitter-tweet-header img {
            float: left;
            border-radius: 5px;
            margin-left: -58px;
            width: 48px;
            height: 48px; }
          #seo-preview .seo-preview-twitter.seo-preview-twitter-large .seo-preview-view .seo-preview-twitter-tweet .seo-preview-twitter-tweet-header .account-group {
            float: left; }
            #seo-preview .seo-preview-twitter.seo-preview-twitter-large .seo-preview-view .seo-preview-twitter-tweet .seo-preview-twitter-tweet-header .account-group .fullname {
              display: block;
              font: bold 18px/22.5px "Helvetica Neue", Helvetica, Arial, sans-serif;
              color: #292f33;
              height: 22px;
              margin-top: 3px;
              padding-top: 2px; }
              #seo-preview .seo-preview-twitter.seo-preview-twitter-large .seo-preview-view .seo-preview-twitter-tweet .seo-preview-twitter-tweet-header .account-group .fullname:hover {
                color: #0084b4; }
            #seo-preview .seo-preview-twitter.seo-preview-twitter-large .seo-preview-view .seo-preview-twitter-tweet .seo-preview-twitter-tweet-header .account-group .username {
              font: normal 14px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
              height: auto;
              display: inline;
              direction: ltr;
              unicode-bidi: embed; }
              #seo-preview .seo-preview-twitter.seo-preview-twitter-large .seo-preview-view .seo-preview-twitter-tweet .seo-preview-twitter-tweet-header .account-group .username del {
                color: #b1bbc3;
                text-decoration: none; }
              #seo-preview .seo-preview-twitter.seo-preview-twitter-large .seo-preview-view .seo-preview-twitter-tweet .seo-preview-twitter-tweet-header .account-group .username b {
                color: #8899a6;
                font-weight: normal; }
        #seo-preview .seo-preview-twitter.seo-preview-twitter-large .seo-preview-view .seo-preview-twitter-tweet .seo-preview-twitter-tweet-text {
          font: 300 28px/34px "Helvetica Neue", Helvetica, Arial, sans-serif;
          letter-spacing: .01em;
          white-space: pre-wrap;
          word-wrap: break-word; }
          #seo-preview .seo-preview-twitter.seo-preview-twitter-large .seo-preview-view .seo-preview-twitter-tweet .seo-preview-twitter-tweet-text .a {
            color: #0084b4; }
      #seo-preview .seo-preview-twitter.seo-preview-twitter-large .seo-preview-view .twitter-card-container {
        border-radius: .5em;
        border-width: 1px;
        border-style: solid;
        border-color: #e1e8ed;
        box-sizing: border-box;
        color: inherit !important;
        overflow: hidden; }
        #seo-preview .seo-preview-twitter.seo-preview-twitter-large .seo-preview-view .twitter-card-container:hover .summary-card-container {
          background-color: #f5f8fa; }
        #seo-preview .seo-preview-twitter.seo-preview-twitter-large .seo-preview-view .twitter-card-container .seo-preview-image {
          border-bottom-width: 1px;
          background-color: #e1e8ed;
          border-style: solid;
          border-color: inherit;
          border-width: 0; }
          #seo-preview .seo-preview-twitter.seo-preview-twitter-large .seo-preview-view .twitter-card-container .seo-preview-image img {
            display: block !important;
            width: 100%;
            height: 100%; }
        #seo-preview .seo-preview-twitter.seo-preview-twitter-large .seo-preview-view .twitter-card-container .summary-card-container {
          float: left;
          width: 100%;
          clear: both;
          color: inherit !important; }
          #seo-preview .seo-preview-twitter.seo-preview-twitter-large .seo-preview-view .twitter-card-container .summary-card-container .summary-card-content {
            padding: 10.5px 14px;
            box-sizing: border-box;
            text-decoration: none; }
            #seo-preview .seo-preview-twitter.seo-preview-twitter-large .seo-preview-view .twitter-card-container .summary-card-container .summary-card-content .seo-preview-title .a {
              color: black;
              font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
              font-weight: bold;
              font-size: 14px;
              line-height: 1.3em;
              margin: 0 0 .15em;
              max-height: 1.3em;
              cursor: pointer;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              -webkit-margin-before: .83em;
              -webkit-margin-after: .83em;
              -webkit-margin-start: 0;
              -webkit-margin-end: 0; }
            #seo-preview .seo-preview-twitter.seo-preview-twitter-large .seo-preview-view .twitter-card-container .summary-card-container .summary-card-content .seo-preview-desc {
              margin-top: .5em;
              max-height: 2.6em;
              overflow: hidden; }
            #seo-preview .seo-preview-twitter.seo-preview-twitter-large .seo-preview-view .twitter-card-container .summary-card-container .summary-card-content .seo-preview-domain-name {
              margin-top: .5em;
              text-transform: lowercase;
              color: #8899a6;
              max-height: 1.3em;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis; }
